#pragma once

// Replace these values with your own and save as "secrets.h" (but don't commit your secrets.h!)
const String WEATHER_API_KEY   = "your_weather_api_key";
const String WEATHER_CITY      = "your_city";
const String WEATHER_COUNTRY   = "your_country_code";
